doctype html
html(lang="en")
  head
    title="Networms Editor"
    meta(name="docId" content=docId)
    link(rel="stylesheet",
         type="text/css",
         href="/static/css/editor.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js",   
           integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
           crossorigin="anonymous")
    link(rel="stylesheet",
         href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
    script(src="/static/js/editor.js", 
           type="text/javascript")

  body
    include header.pug
    
    div.container
      div.section
        a#editor-list-button.dropdown-button.btn-flat.waves-effect.waves-teal.right.right-align(href='#', data-activates='editor-list') There is 1 person editing this document right now

        ul#editor-list.dropdown-content.right
          li: span You

      div.section
        textarea#textbox.z-depth-2
